body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

.headline {
    text-align: center;
    margin-bottom: 20px;
}

.chat-container {
    max-width: 750px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.input-container {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.message, .message-back {
    max-width: 75%;
}

.message, .message-back, .card {
    display: flex;
    flex-direction: column;
    text-align: right;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.message-back {
    justify-content: flex-end;
    align-self: flex-end;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fafafa;
}

.message {
    justify-content: flex-start;
    align-self: flex-start;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #bcf2bd;
}

.card, .ticket-card {
    display: grid;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}

.card {
    grid-template-areas:
        "departure duration arrival"
        "origin arrow destination"
        "price price price";
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 5px;
}

.ticket-card {
    grid-template-areas:
        "ticket-id"
        "flight-number"
        "seats";
    grid-template-columns: 1fr;
    width: 50vh;
    margin-bottom: 20px;
}

.my-ticket {
    margin: 20px auto;
    text-align: center;
    background-color: rgb(249, 249, 241);
    border: 2px solid rgb(240, 240, 233);
}

.no-tickets-msg {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.red {
    color: rgb(228, 65, 65);
}

.green {
    color: #27AE60;
    border: 1px solid green;
}

.card:hover, .ticket-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card p {
    align-self: center;
}

.departure {
    grid-area: departure;
    color: #2C3E50; /* Dark blue-gray */
    font-size: 16px;
    font-weight: bold;
}

.arrival {
    grid-area: arrival;
    color: #2C3E50; /* Dark blue-gray */
    font-size: 16px;
    font-weight: bold;
}

.origin {
    grid-area: origin;
    color: #34495E; /* Dark blue */
    font-size: 14px;
}

.destination {
    grid-area: destination;
    color: #34495E; /* Dark blue */
    font-size: 14px;
}

.duration {
    grid-area: duration;
    color: #27AE60; /* Green */
    font-size: 14px;
    align-self: center;
}

.price {
    grid-area: price;
    color: #E74C3C; /* Red */
    font-size: 16px;
    font-weight: bold;
}

.arrow {
    grid-area: arrow;
    color: #27AE60; /* Green */
    align-self: center;
    font-size: 25px;
    font-weight: bold;
}

.ticket-id, .flight-number, .seats {
    font-size: 16px;
    margin-bottom: 10px;
}

.ticket-id strong, .flight-number strong, .seats strong {
    font-weight: bold;
}

#messageInput {
    height: 20px;
    width: 350px;
    padding: 8px;
}

#submitButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signOut, .myTickets, .seatOrder {
    margin: 10px 0;
    padding: 12px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

}

.signOut:hover, .myTickets:hover, .seatOrder:hover {
    background-color: #266328;
}

.signOut:active, .myTickets:active, .seatOrder:active {
    transform: translateY(2px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.plane {
    position: relative;
    width: 350px;
    height: 400px;
    background-color: #bcf2bd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wing {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #bcf2bd;
}

.left {
    left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right {
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.column {
    width: 35px;
    height: 35px;
    margin: 2px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.column:nth-child(4) {
    margin-right: 20px; /* Space between C and D seats */
}

.seat {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 7px;
}

.disabled-seat:hover {
    cursor: default;
}

.selected {
    background-color: #4CAF50;
    color: white;
}

.next-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}