body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/airplane.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid white;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 75px 150px rgba(0, 0, 0, 0.4);
}


h1 {
    color: #007acc;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.signup {
    color: #007acc;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.signup-link {
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 25px;
    border: 2px solid gray;
}

.signup-link:hover {
    background-color: rgb(90, 90, 90);
    color: white;
    border-color: white;
}

input[type="email"],
input[type="password"],
button {
    margin: 10px 0;
    padding: 12px;
    width: calc(100% - 24px);
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

button {
    background-color: #007acc;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #005ea6;
}

button:active {
    transform: translateY(2px);
}
